# <font color = orange><b>Imports, and Data Fetch</b></font>

**imports**

In [130]:
#imports
import pandas as pd
import numpy as np

**read configuration file**

In [131]:
#configuration
from read_config import Config
config = Config ()

**data**

NOTE:
We make use of the following dataframes
- **df_titanic** read from the titanic dataset
- **df_raw** - an in-code sample dataframe to demonstrate csv file save, and some dataframe statistics
- **df_books** - an in-code sample dataframe - starting from sub-section 5. of section 'DataFrame Playground'. It is used to show most of the features of the dataframe.

*titanic*

In [132]:
config.set_dataset_id ("titanic")
df_titanic = config.get_train_df ()
df_titanic.head (2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

# <font color = orange> DataFrame Playground </font>

## <font color = grey><b>1. Read Data from CSV file into a DataFrame</b></font>

In [10]:
import os
import pandas as pd

config.set_dataset_id ("titanic") #read titanic data
df_titanic = config.get_train_df ()

## <font color = grey><b>2. Create DataFrame from Dictionary</b></font>

<font color = magenta>
    pd.DataFrame <b>(dict, columns = , index = )</b>
</font>

In [11]:
raw_data = {'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'last_name': ['Miller', 'Jacobson', ".", 'Milner', 'Cooze'], 
        'age': [42, 52, 36, 24, 73], 
        'preTestScore': [4, 24, 31, ".", "."],
        'postTestScore': ["25,000", "94,000", 57, 62, 70]}

df_raw = pd.DataFrame (raw_data, columns = ['first_name', 'last_name',\
                                           'age', 'preTestScore',\
                                            'postTestScore'])

## <font color = grey><b>3. Save DataFrame to CSV file</b></font>

<font color = magenta>
    <b>df.to_csv</b> (csv_filename)
</font>

In [12]:
df_raw.to_csv ("raw.csv")

## <font color = grey><b>4. DataFrame Statistics</b></font>

### Information

<font color = magenta><b>df.info ()</b><font>

In [13]:
df_raw.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
first_name       5 non-null object
last_name        5 non-null object
age              5 non-null int64
preTestScore     5 non-null object
postTestScore    5 non-null object
dtypes: int64(1), object(4)
memory usage: 328.0+ bytes

### Information that indicates how many nulls in each column

E.g. 'Age' value is present only for 714 out of 891 rows.
177 rows do not have value. This count can be achieved by using the function <font color = magenta><b>df.isnull().sum()</b></font> as shown further down.

In [14]:
df_titanic.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

### Column Names

NOTE: <font color = magenta>columns is an <b>attribute</b></font> that returns an index containing the column names. This attribute can also have a **name**.

In [15]:
df_titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

### Shape

<font color = magenta><b>df.shape</b></font>

In [16]:
df_raw.shape

(5, 5)

### Display first few rows

<font color = magenta><b>df.head (n)</b></font>

In [17]:
df_raw.head (2)

  first_name last_name  age preTestScore postTestScore
0      Jason    Miller   42            4        25,000
1      Molly  Jacobson   52           24        94,000

### Find 'unique' values of a column

<font color = magenta><b>df[col].unique ()</b></font>

In [18]:
df_titanic ['Embarked'].unique ()

array(['S', 'C', 'Q', nan], dtype=object)

### Subtotals, grouped by values of a column

<font color = magenta><b>value_counts ()</b></font> returns a **Series** with <font color = magenta><b>group by values as index values</b></font>.

In [19]:
df_titanic ['Survived'].value_counts ()

0    549
1    342
Name: Survived, dtype: int64

NOTE: 'Survived' is used as the field, whose values will be grouped. Hence, the **index is based on the unique values in 'Survived'**.

In [20]:
print(df_titanic ['Survived'].value_counts ().index)

Int64Index([0, 1], dtype='int64')

### Extract rows based on a filter

filter = <font color = magenta><b>df [col_filter] == value</b></font> <br>
df <font color = magenta><b>[filter]</b></font>

In [21]:
df_titanic [df_titanic ['Survived'] == 1].head (2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

### Subtotals on extracted rows, grouped by values of a column

filter = df [col_filter] == value<br>
df [filter]<font color = magenta><b>[col_groupby].value_counts ()</b></font>

In [22]:
print ('Survived:')
print (df_titanic [df_titanic \
                  ['Survived'] == 1]['Sex'].value_counts ())
print ('\nDidn''t Survive:')
print (df_titanic [df_titanic \
                  ['Survived'] == 0]['Sex'].value_counts ())

Survived:
female    233
male      109
Name: Sex, dtype: int64

Didnt Survive:
male      468
female     81
Name: Sex, dtype: int64

**value_counts ()** returns a **Series** with **group by values as index values**.

NOTE: 'Survived' is used as a filter, and 'Sex' is used as the field, whose values will be grouped. Hence, the **index is based on the unique values in 'Sex'**.

In [23]:
type(df_titanic [df_titanic \
                  ['Survived'] == 0]['Sex'].value_counts ())

pandas.core.series.Series

Series has an **index**

In [24]:
df_titanic [df_titanic \
                  ['Survived'] == 0]['Sex'].value_counts ().index

Index(['male', 'female'], dtype='object')

### Null count subtotals

visualizing null values inside the dataframe.<br>
df.<font color = magenta><b>isnull ()</b></font>

In [25]:
df_titanic.isnull ()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

summary of null values
df.isnull ()<font color = magenta><b>.sum ()</b></font>

In [26]:
df_titanic.isnull ().sum ()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

## <font color = grey><b>5. Create DataFrame (revisited)</b></font>

### Data creation

#### numpy for NaN
<font color = magenta><b>np.NaN</b></font>

In [27]:
import numpy as np

#### Create some lists

In [28]:
author = ['Strang', 'Blitzstein', 'Witten', 'Bishop', 'Bengio', 'Sutton']
title = ['Introduction to Linear Algebra', 'Introduction to Probability', 'ML Beginner', 'ML Advanced', \
         'Deep Learning', 'Reinforcement Learning - An Introduction']
edition = [1, np.NaN, 2, np.NaN, 1, 2]
cost = [10, 20, 15, 40, 30, 25]
topic = ['Maths', 'Maths', 'Machine Learning', 'Machine Learning', \
         'Machine Learning', 'Machine Learning']
sub_topic = ['LA', 'Prob', 'ML', 'ML', 'DL', 'RL']

#### Create some Series
<font color = magenta><b>pd.Series (list)</b></font>

In [29]:
s_author = pd.Series (author)
s_title = pd.Series (title)
s_edition = pd.Series (edition)
s_cost = pd.Series (cost)

Series has an index. This series has a **range index** <br>
<font color = magenta><b>Series.index</b></font>

In [30]:
s_author.index

RangeIndex(start=0, stop=6, step=1)

### DataFrame from multiple lists

#### Incorrect way

In [31]:
pd.DataFrame ([author, title])

,0,1,2,3,4,5
0,Strang,Blitzstein,Witten,Bishop,Bengio,Sutton
1,Introduction to Linear Algebra,Introduction to Probability,ML Beginner,ML Advanced,Deep Learning,Reinforcement Learning - An Introduction

The reason authors and titles appear on different rows is that a **list is treated as a column**, and we provided a **list of lists**. So, the outer list of 2 elements (author_list and title_list) created the 2 rows, and, the inner list of authors and titles expanded column-wise.

list is treated as a column

In [32]:
pd.DataFrame (['a', 'b'])

   0
0  a
1  b

#### Correct way

Zip and create a **list of tuples**. The elements of the **list** form the rows, and the elements of the **enclosing tuple** form the columns. <br>
pd.DataFrame (<font color = magenta><b>list (zip (lst_1, lst_2)) </b></font>, columns = , index = )

In [33]:
pd.DataFrame (list (zip (author, title)), columns = ['Author', 'Title'])

       Author                                     Title
0      Strang            Introduction to Linear Algebra
1  Blitzstein               Introduction to Probability
2      Witten                               ML Beginner
3      Bishop                               ML Advanced
4      Bengio                             Deep Learning
5      Sutton  Reinforcement Learning - An Introduction

Zip and create a **tuple of tuples**. The elements of the **outer tuple** form the rows, and the elements of the **enclosing tuple** form the columns.

In [34]:
pd.DataFrame (tuple (zip (author, title)), columns = ['Author', 'Title'])

       Author                                     Title
0      Strang            Introduction to Linear Algebra
1  Blitzstein               Introduction to Probability
2      Witten                               ML Beginner
3      Bishop                               ML Advanced
4      Bengio                             Deep Learning
5      Sutton  Reinforcement Learning - An Introduction

### DataFrame from a dictionary, using 'lists' as values of keys

In [35]:
frame = {'Author': author, 'Title': title}
df_temp = pd.DataFrame (frame)
df_temp.head ()

       Author                           Title
0      Strang  Introduction to Linear Algebra
1  Blitzstein     Introduction to Probability
2      Witten                     ML Beginner
3      Bishop                     ML Advanced
4      Bengio                   Deep Learning

### DataFrame from a dictionary, using 'Series' as values of keys

In [36]:
frame = {'Author': s_author, 'Title': s_title}
df_books = pd.DataFrame (frame)
df_books.head ()

       Author                           Title
0      Strang  Introduction to Linear Algebra
1  Blitzstein     Introduction to Probability
2      Witten                     ML Beginner
3      Bishop                     ML Advanced
4      Bengio                   Deep Learning

#### Add a 'Series' externally

NOTE:
- A series can be added externally only if the <font color = magenta><b>index</b></font> of the series <font color = magenta><b>matches</b></font> that of the data frame

In [37]:
df_books ['Edition'] = s_edition
df_books.head ()

       Author                           Title  Edition
0      Strang  Introduction to Linear Algebra      1.0
1  Blitzstein     Introduction to Probability      NaN
2      Witten                     ML Beginner      2.0
3      Bishop                     ML Advanced      NaN
4      Bengio                   Deep Learning      1.0

## <font color = grey><b>6. Index</b></font>

### Provide 'index'

#### Create a custom index

In [38]:
idx = ['a', 'b', 'c', 'd', 'e', 'f']

#### Pass nameless indices as a parameter

NOTE:
- '<font color = magenta><b>index</b></font>' is the **row index**
- '<font color = magenta><b>columns</b></font>' is the **column index**

In [39]:
df = pd.DataFrame (tuple (zip (author, title)), \
              columns = ['Author', 'Title'], \
             index = idx)
df

       Author                                     Title
a      Strang            Introduction to Linear Algebra
b  Blitzstein               Introduction to Probability
c      Witten                               ML Beginner
d      Bishop                               ML Advanced
e      Bengio                             Deep Learning
f      Sutton  Reinforcement Learning - An Introduction

#### Provide names for indices

use <font color = magenta><b>rename_axis ()</b></font> to rename index names

A **single parameter implies row index**. <br>
rename_axis (<font color = magenta><b>row_index_name</b></font>)

In [40]:
df2 = df.rename_axis ('Sr. No.')
print ('Row Index Name: ', df2.index.name)
print ('Column Index Name: ', df2.columns.name)
df2

Row Index Name:  Sr. No.
Column Index Name:  None

             Author                                     Title
Sr. No.
a            Strang            Introduction to Linear Algebra
b        Blitzstein               Introduction to Probability
c            Witten                               ML Beginner
d            Bishop                               ML Advanced
e            Bengio                             Deep Learning
f            Sutton  Reinforcement Learning - An Introduction

Use **axis** to indicate row (= 0) or column (= 1) axis <br>
rename_axis (<font color = magenta><b>col_axis_name, axis = 1</b></font>)

In [41]:
df2 = df.rename_axis ('Attributes->', axis = 1)
print ('Row Index Name: ', df2.index.name)
print ('Column Index Name: ', df2.columns.name)
df2

Row Index Name:  None
Column Index Name:  Attributes->

Attributes->      Author                                     Title
a                 Strang            Introduction to Linear Algebra
b             Blitzstein               Introduction to Probability
c                 Witten                               ML Beginner
d                 Bishop                               ML Advanced
e                 Bengio                             Deep Learning
f                 Sutton  Reinforcement Learning - An Introduction

'axis' values <font color = magenta><b>0 and 1</b></font> also carry names "rows" and "columns" respectively.

In [42]:
df2 = df.rename_axis ('Attributes->', axis = "columns")
print ('Row Index Name: ', df2.index.name)
print ('Column Index Name: ', df2.columns.name)
df2

Row Index Name:  None
Column Index Name:  Attributes->

Attributes->      Author                                     Title
a                 Strang            Introduction to Linear Algebra
b             Blitzstein               Introduction to Probability
c                 Witten                               ML Beginner
d                 Bishop                               ML Advanced
e                 Bengio                             Deep Learning
f                 Sutton  Reinforcement Learning - An Introduction

Rename both row and column axes denoted by **'index' for row index**, and **'columns' for column attribute that returns an index**. <br>
rename_axis (<font color = magenta><b>index</b></font> = row_axis_name, <font color = magenta><b>columns</b></font> = col_axis_name)

In [43]:
df2 = df.rename_axis (index = 'Sr. No.', columns = 'Attributes->')
print ('Row Index Name: ', df2.index.name)
print ('Column Index Name: ', df2.columns.name)
df2

Row Index Name:  Sr. No.
Column Index Name:  Attributes->

Attributes->      Author                                     Title
Sr. No.
a                 Strang            Introduction to Linear Algebra
b             Blitzstein               Introduction to Probability
c                 Witten                               ML Beginner
d                 Bishop                               ML Advanced
e                 Bengio                             Deep Learning
f                 Sutton  Reinforcement Learning - An Introduction

### Hierarchical Indices

#### Create the multi-index

<font color = magenta><b>pd.MultiIndex</b></font>.from_product ()
- list of list of indices
- list of <font color = magenta><b>names</b></font> of indices

NOTE: The list of indices are of different size: There are 3 topics, and 2 sub-topics. So, we have to use <font color = magenta><b>from_product ()</b></font> to perform the cross product of the two indices. This creates a **hierarchy**. If we just wanted two row indices without them being hierarchical, the indices list should be of the same size, and we need to use <font color = magenta><b>from_arrays ()</b></font> instead.

In [44]:
i_topic = ['Mathematics', 'Machine Learning', 'DL/RL']
i_subtopic = [1, 2]
i_names = ['Topic', 'Sub-Topic']

mux = pd.MultiIndex.from_product ([i_topic, i_subtopic], names = i_names)
mux

MultiIndex([(     'Mathematics', 1),
            (     'Mathematics', 2),
            ('Machine Learning', 1),
            ('Machine Learning', 2),
            (           'DL/RL', 1),
            (           'DL/RL', 2)],
           names=['Topic', 'Sub-Topic'])

#### Create the dataframe with multi-index <br>
pd.DataFrame (list, columns = , index = <font color = magenta><b>pd.MultiIndex ().from_#</b></font>)

In [45]:
pd.DataFrame (list (zip (author, title)), \
             columns = ['Author', 'Title'], \
             index = mux)

                                Author  \
Topic            Sub-Topic
Mathematics      1              Strang
                 2          Blitzstein
Machine Learning 1              Witten
                 2              Bishop
DL/RL            1              Bengio
                 2              Sutton

                                                               Title
Topic            Sub-Topic
Mathematics      1                    Introduction to Linear Algebra
                 2                       Introduction to Probability
Machine Learning 1                                       ML Beginner
                 2                                       ML Advanced
DL/RL            1                                     Deep Learning
                 2          Reinforcement Learning - An Introduction

#### Create a multi-index using <font color = magenta><b>from_arrays ()</b></font>

In [46]:
mux = pd.MultiIndex.from_arrays ([topic, sub_topic], names = i_names)
mux

MultiIndex([(           'Maths',   'LA'),
            (           'Maths', 'Prob'),
            ('Machine Learning',   'ML'),
            ('Machine Learning',   'ML'),
            ('Machine Learning',   'DL'),
            ('Machine Learning',   'RL')],
           names=['Topic', 'Sub-Topic'])

#### Create a data frame with multi-index (created using from_arrays ())

In [47]:
pd.DataFrame (list (zip (author, title)), \
             columns = ['Author', 'Title'], \
             index = mux)

                                Author  \
Topic            Sub-Topic
Maths            LA             Strang
                 Prob       Blitzstein
Machine Learning ML             Witten
                 ML             Bishop
                 DL             Bengio
                 RL             Sutton

                                                               Title
Topic            Sub-Topic
Maths            LA                   Introduction to Linear Algebra
                 Prob                    Introduction to Probability
Machine Learning ML                                      ML Beginner
                 ML                                      ML Advanced
                 DL                                    Deep Learning
                 RL         Reinforcement Learning - An Introduction

### Navigating using indices

#### Create a dataframe with multi-index

In [48]:
mux = pd.MultiIndex.from_arrays ([topic, sub_topic], names = i_names)
df = pd.DataFrame (list (zip (author, title)), \
             columns = ['Author', 'Title'], \
             index = mux)
df

                                Author  \
Topic            Sub-Topic
Maths            LA             Strang
                 Prob       Blitzstein
Machine Learning ML             Witten
                 ML             Bishop
                 DL             Bengio
                 RL             Sutton

                                                               Title
Topic            Sub-Topic
Maths            LA                   Introduction to Linear Algebra
                 Prob                    Introduction to Probability
Machine Learning ML                                      ML Beginner
                 ML                                      ML Advanced
                 DL                                    Deep Learning
                 RL         Reinforcement Learning - An Introduction

#### Filter based on index values

df.<font color = magenta><b>loc [index_val]</b></font> <br>
df.loc [<font color = magenta><b>(index1_val, index2_val)</b></font>]

NOTE: A **data frame is returned**.

df.<font color = magenta><b>sort_index ()</b></font>
- to prevent "PerformanceWarning: **indexing past lexsort depth** may impact performance."

In [49]:
#To prevent 
#"PerformanceWarning: indexing past lexsort depth may impact performance."
df.sort_index (inplace = True)
print ('Books in Mathematics:')
print (df.loc ['Maths'], '\n\n')
print ('Books in Machine Learning:')
print (df.loc ['Machine Learning'], '\n\n')
print ('Books in Deep Learning:')
print (df.loc [('Machine Learning', 'DL')])

Books in Mathematics:
               Author                           Title
Sub-Topic
LA             Strang  Introduction to Linear Algebra
Prob       Blitzstein     Introduction to Probability


Books in Machine Learning:
           Author                                     Title
Sub-Topic
DL         Bengio                             Deep Learning
ML         Witten                               ML Beginner
ML         Bishop                               ML Advanced
RL         Sutton  Reinforcement Learning - An Introduction


Books in Deep Learning:
                            Author          Title
Topic            Sub-Topic
Machine Learning DL         Bengio  Deep Learning

### Set existing columns as indexes

#### Create a dataframe WITHOUT  passing any index

Instead, **pass index as regular columns** - topic, and sub_topic

In [50]:
#mux = pd.MultiIndex.from_arrays ([topic, sub_topic], names = i_names)
df = pd.DataFrame (list (zip (author, title, topic, sub_topic)), \
             columns = ['Author', 'Title', 'Topic', 'Sub-Topic'], \
             #index = mux
                  )
df

,Author,Title,Topic,Sub-Topic
0,Strang,Introduction to Linear Algebra,Maths,LA
1,Blitzstein,Introduction to Probability,Maths,Prob
2,Witten,ML Beginner,Machine Learning,ML
3,Bishop,ML Advanced,Machine Learning,ML
4,Bengio,Deep Learning,Machine Learning,DL
5,Sutton,Reinforcement Learning - An Introduction,Machine Learning,RL

#### Create index from columns

df.<font color = magenta><b>set_index ([cols], inplace = True)</b></font>

In [51]:
df.set_index (['Topic', 'Sub-Topic'], inplace = True)
df

                                Author  \
Topic            Sub-Topic
Maths            LA             Strang
                 Prob       Blitzstein
Machine Learning ML             Witten
                 ML             Bishop
                 DL             Bengio
                 RL             Sutton

                                                               Title
Topic            Sub-Topic
Maths            LA                   Introduction to Linear Algebra
                 Prob                    Introduction to Probability
Machine Learning ML                                      ML Beginner
                 ML                                      ML Advanced
                 DL                                    Deep Learning
                 RL         Reinforcement Learning - An Introduction

### Instantiate an index and set it

df.set_index (<font color = magenta><b>pd.RangeIndex (start, stop, step)</b></font>, inplace = True

In [52]:
df.set_index (\
              pd.RangeIndex (start = 5, stop = 11, step = 1),\
              inplace = True)
df

        Author                                     Title
5       Strang            Introduction to Linear Algebra
6   Blitzstein               Introduction to Probability
7       Witten                               ML Beginner
8       Bishop                               ML Advanced
9       Bengio                             Deep Learning
10      Sutton  Reinforcement Learning - An Introduction

### df.groupby (col)

#### 1. DataFrameGroupBy

df.groupby (<font color = magenta><b>col</b></font>) <br>
df.groupby (<font color = magenta><b>[cols]</b></font>)
 - returns an instance of **DataFrameGroupBy**

In [53]:
df = df_titanic
df.groupby (['Survived', 'Sex'])

#### 2. Summary Statistics

Perform a **summary statistic** on DataFrameGroupBy
- mean () - for numerical columns
- count () - for all columns
- <font color = magenta><b>size ()</b></font> - for numerical columns

NOTE:
- stats are obviously not performed on groupby columns, since those column values are used to form groups
- **count** returns **individual column count of rows having some value**
> count of columns like 'Age' and 'Cabin' indicate missing values
- **sum** returns **count of rows**. some column having missing value does not impact, unless all columns have missing values.

In [54]:
print ('Information of the data frame:')
print (df.info (), '\n\n')
print ('Mean Statistics:')
print (df.groupby (['Survived', 'Sex']).mean (), '\n\n')
print ('Count Statistics:')
print (df.groupby (['Survived', 'Sex']).count (), '\n\n')
print ('Size Statistics:')
print (df.groupby (['Survived', 'Sex']).size ())

Information of the data frame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None


Mean Statistics:
                 PassengerId    Pclass        Age     SibSp     Parch  \
Survived Sex
0        female   434.851852  2.851852  25.046875  1.209877  1.037037
         male     449.121795  2.476496  31.618056  0.440171  0.207265
1        female   429.699571  1.918455  28.847716  0.515021  0.515021
         male     475.724771  2.018349  27.276022  0.385321  0.357798

                      Fare
Survived Sex
0        female  23.024385
         male    21.960993
1        female  51.938573
         male    40.821484


Count Statistics:
                 PassengerId  Pclass  Name  Age  SibSp  Parch  Ticket  Fare  \
Survived Sex
0        female           81      81    81   64     81     81      81    81
         male            468     468   468  360    468    468     468   468
1        female          233     233   233  197    233    233     233   233
         male            109     109   109   93    109    109     109   109

                 Cabin  Embarked
Survived Sex
0        female      6        81
         male       62       468
1        female     91       231
         male       45       109


Size Statistics:
Survived  Sex
0         female     81
          male      468
1         female    233
          male      109
dtype: int64

#### > Series (with indexes) returned by groupby.summary_stat

NOTE:
- df.groupby (col).size () <font color = magenta>returns a <b>series</b></font>, with an **index**
- df.groupby (**[cols]**).size () returns a series with a <font color = magenta><b>multi-index</b></font>

#### >> groupby (**col**)

**series**

In [55]:
df.groupby ('Survived').size ()

Survived
0    549
1    342
dtype: int64

type = <font color = magenta><b>Series</b></font>

In [56]:
type(df.groupby ('Survived').size ())

pandas.core.series.Series

<font color = magenta><b>index</b></font> of the series

In [57]:
df.groupby ('Survived').size ().index

Int64Index([0, 1], dtype='int64', name='Survived')

#### >> groupby (**[cols]**)

NOTE:
- didn't survive 549 = 81 + 468
- survived       342 = 233 + 109

**series**

In [58]:
df.groupby (['Survived', 'Sex']).size ()

Survived  Sex
0         female     81
          male      468
1         female    233
          male      109
dtype: int64

type = **series**

In [59]:
type (df.groupby (['Survived', 'Sex']).size ())

pandas.core.series.Series

<font color = magenta><b>multi-index</b></font> of the series

In [60]:
df.groupby (['Survived', 'Sex']).size ().index

MultiIndex([(0, 'female'),
            (0,   'male'),
            (1, 'female'),
            (1,   'male')],
           names=['Survived', 'Sex'])

#### 3. Unstack the multi-index series into a data frame

You may wish to **remove** one of the features **from the hierarchical index** and <font color = magenta><b>form different columns with respect to that feature</b></font>. You can do so using the <font color = magenta><b>unstack</b></font> method.

NOTE:
unstack () requires the feature to have <font color = magenta><b>unique values</b></font>.
This is because the values of the feature form column names.
An index created using <font color = magenta><b>groupby () ensures</b></font> that the index has <font color = magenta><b>unique values</b></font>.

In [61]:
df.groupby (['Survived', 'Sex']).size ().unstack ()

Sex       female  male
Survived
0             81   468
1            233   109

NOTE:
- didn't survive 549 = 81 + 468
- survived       342 = 233 + 109

The **index column to unstack**, is passed as parameter, can be given by name, or by position, 0 is the default.

In [62]:
df.groupby (['Survived', 'Sex']).size ().unstack ('Sex')

Sex       female  male
Survived
0             81   468
1            233   109

by default, the <font color = magenta><b>leaf of the hierarchical (multi) index is unstacked</b></font>, leaving the rest of the index tree as the index of the returned dataframe

In [63]:
df.groupby (['Survived', 'Sex']).size ().unstack ().index

Int64Index([0, 1], dtype='int64', name='Survived')

the unstacked leaf of the index forms the columns of the returned dataframe

In [64]:
df.groupby (['Survived', 'Sex']).size ().unstack ().columns

Index(['female', 'male'], dtype='object', name='Sex')

**mention the index column to unstack**

NOTE
- this time we have <font color = magenta><b>unstacked 'Survived' instead of 'Sex'</b></font>

In [65]:
df.groupby (['Survived', 'Sex']).size ().unstack ('Survived')

Survived    0    1
Sex
female     81  233
male      468  109

## <font color = grey><b>7. Filter</b></font>

### Data creation

In [66]:
frame = {'Author': s_author, 'Title': s_title, 'Edition': s_edition}
df_books = pd.DataFrame (frame)
df_books.head ()

       Author                           Title  Edition
0      Strang  Introduction to Linear Algebra      1.0
1  Blitzstein     Introduction to Probability      NaN
2      Witten                     ML Beginner      2.0
3      Bishop                     ML Advanced      NaN
4      Bengio                   Deep Learning      1.0

### An example 'filter'

In [67]:
df_books ['Edition'] == 1

0     True
1    False
2    False
3    False
4     True
5    False
Name: Edition, dtype: bool

#### <font color = magenta><b>Chaining</b></font> format

In [68]:
df_books.Edition.eq (2)

0    False
1    False
2     True
3    False
4    False
5     True
Name: Edition, dtype: bool

### Apply filter to a dataframe

#### Filter rows whose column value equals a specific value

In [69]:
filter = df_books ['Edition'] == 2
df_books [filter]

   Author                                     Title  Edition
2  Witten                               ML Beginner      2.0
5  Sutton  Reinforcement Learning - An Introduction      2.0

##### Filter rows whose column value does NOT equal a specific value - <font color = magenta><b>!=</b></font>

In [70]:
filter = df_books.Edition != 2
df_books [filter]

       Author                           Title  Edition
0      Strang  Introduction to Linear Algebra      1.0
1  Blitzstein     Introduction to Probability      NaN
3      Bishop                     ML Advanced      NaN
4      Bengio                   Deep Learning      1.0

#### Filter rows whose column value is not NaN - df.col.<font color = magenta><b>notnull ()</b></font>

In [71]:
filter = df_books.Edition.notnull ()
df_books [filter]

   Author                                     Title  Edition
0  Strang            Introduction to Linear Algebra      1.0
2  Witten                               ML Beginner      2.0
4  Bengio                             Deep Learning      1.0
5  Sutton  Reinforcement Learning - An Introduction      2.0

#### Filter rows with column values among a set of values

df.colname.<font color = magenta><b>isin</b></font>

In [72]:
authors_maths = ['Apostol', 'Strang', 'Blitzstein']
filter = df_books.Author.isin (authors_maths)
df_books [filter]

       Author                           Title  Edition
0      Strang  Introduction to Linear Algebra      1.0
1  Blitzstein     Introduction to Probability      NaN

##### Filter rows with column values NOT among a set of values

<font color = magenta><b>~df</b></font>.colname.isin

In [73]:
filter = ~df_books.Author.isin (authors_maths)
df_books [filter]

   Author                                     Title  Edition
2  Witten                               ML Beginner      2.0
3  Bishop                               ML Advanced      NaN
4  Bengio                             Deep Learning      1.0
5  Sutton  Reinforcement Learning - An Introduction      2.0

#### Filter rows based on <font color = magenta><b>multiple conditions</b></font>

condition1 <font color = magenta><b>&</b></font> condition2

In [74]:
filter = ~df_books.Author.isin (authors_maths)\
        & df_books.Edition.notnull ()
df_books [filter]

   Author                                     Title  Edition
2  Witten                               ML Beginner      2.0
4  Bengio                             Deep Learning      1.0
5  Sutton  Reinforcement Learning - An Introduction      2.0

#### Filter rows based on a <font color = magenta><b>series</b></font>

In [75]:
s_title_learning = df_books ['Title'\
                            ].apply (lambda x: x.endswith ('Learning'))
df_books [s_title_learning]

   Author          Title  Edition
4  Bengio  Deep Learning      1.0

## <font color = grey><b>8. Selection</b></font>

### using <font color = magenta><b>.loc</b></font>
- selection using <font color = magenta><b>label-based location</b></font>
- selection using <font color = magenta><b>filter</b></font>

df.loc [(<font color = magenta><b>index1_label, ...</b></font>), [selected_cols]]

df.loc [<font color = magenta><b>[index_label1, index_label2, ...]</b></font>, [selected_cols]]

df.loc [<font color = magenta><b>filter</b></font>, [selected_cols]]

NOTE: For the first parameter of .loc (), <font color = magenta><b>we pass index values</b></font>. These values are the **labels of the rows**. Hence, .loc is label-based.

#### data creation - add index

In [76]:
frame = {'Author': s_author, 'Title': s_title, 'Edition': s_edition}
df_books = pd.DataFrame (frame)
mux = pd.MultiIndex.from_arrays ([topic, sub_topic],\
                                 names = ['Topic', 'Sub-Topic'])
df_books = df_books.set_index (mux)
#to prevent
#"PerformanceWarning: indexing past lexsort depth may impact performance."
df_books.sort_index (inplace = True)
df_books

                                Author  \
Topic            Sub-Topic
Machine Learning DL             Bengio
                 ML             Witten
                 ML             Bishop
                 RL             Sutton
Maths            LA             Strang
                 Prob       Blitzstein

                                                               Title  Edition
Topic            Sub-Topic
Machine Learning DL                                    Deep Learning      1.0
                 ML                                      ML Beginner      2.0
                 ML                                      ML Advanced      NaN
                 RL         Reinforcement Learning - An Introduction      2.0
Maths            LA                   Introduction to Linear Algebra      1.0
                 Prob                    Introduction to Probability      NaN

#### df.loc [<font color = magenta><b>index</b></font>] - returns rows belonging to the index label

In [77]:
df_books.loc ['Machine Learning']

           Author                                     Title  Edition
Sub-Topic
DL         Bengio                             Deep Learning      1.0
ML         Witten                               ML Beginner      2.0
ML         Bishop                               ML Advanced      NaN
RL         Sutton  Reinforcement Learning - An Introduction      2.0

#### df.loc [<font color = magenta><b>(index1, index2)</b></font>] - returns rows belonging to the <font color = magenta><b>hierarchical index labels</b></font>

In [78]:
df_books.loc [('Machine Learning', 'ML')]

                            Author        Title  Edition
Topic            Sub-Topic
Machine Learning ML         Witten  ML Beginner      2.0
                 ML         Bishop  ML Advanced      NaN

df.loc [<font color = magenta><b>[idx1_labl1, idx1_lab2]</b></font>] - returns rows belonging to the multiple labels of the <font color = magenta><b>index root</b></font>

In [79]:
df_books.loc [['Machine Learning', 'Maths']]

                                Author  \
Topic            Sub-Topic
Machine Learning DL             Bengio
                 ML             Witten
                 ML             Bishop
                 RL             Sutton
Maths            LA             Strang
                 Prob       Blitzstein

                                                               Title  Edition
Topic            Sub-Topic
Machine Learning DL                                    Deep Learning      1.0
                 ML                                      ML Beginner      2.0
                 ML                                      ML Advanced      NaN
                 RL         Reinforcement Learning - An Introduction      2.0
Maths            LA                   Introduction to Linear Algebra      1.0
                 Prob                    Introduction to Probability      NaN

df.loc [([idx1_lab1, idx1_lab2]<font color = magenta><b>, [idx2_lab1]</b></font>), [selected_cols]] - returns rows belonging to the <font color = magenta><b>cross-product labels</b></font> of the nodes of the hierarchical index

In [80]:
df_books.loc [(['Machine Learning', 'Maths'],\
               ['LA', 'DL', 'RL']), ['Title']]

                                                               Title
Topic            Sub-Topic
Machine Learning DL                                    Deep Learning
                 RL         Reinforcement Learning - An Introduction
Maths            LA                   Introduction to Linear Algebra

#### df.loc [(index1, index2)<font color = magenta><b>, col_name</b></font>] - returns rows belonging to the label, and their <font color = magenta><b>single column</b></font>

returns a <font color = magenta><b>series</b></font>

In [81]:
df_books.loc [('Machine Learning', 'ML'), 'Title']

Topic             Sub-Topic
Machine Learning  ML           ML Beginner
                  ML           ML Advanced
Name: Title, dtype: object

#### df.loc [(index1, index2), <font color = magenta><b>[</b></font>col_name<font color = magenta><b>]</b></font> - returns rows belonging to the label, and their <font color = magenta><b>one or more columns</b></font>

returns a <font color = magenta><b>data frame</b></font>

In [82]:
df_books.loc [('Machine Learning', 'ML'), ['Title']]

                                  Title
Topic            Sub-Topic
Machine Learning ML         ML Beginner
                 ML         ML Advanced

#### df.loc [(index1, index2), <font color = magenta><b>[cols]</b></font>] - returns rows belonging to the label, and their <font color = magenta><b>one or more columns</b></font>

In [83]:
df_books.loc [('Machine Learning', 'ML'), ['Title', 'Edition']]

                                  Title  Edition
Topic            Sub-Topic
Machine Learning ML         ML Beginner      2.0
                 ML         ML Advanced      NaN

#### df.loc [<font color = magenta><b>filter</b></font>] - returns rows <font color = magenta><b>satisfying the filter</b></font>

In [84]:
filter = df_books ['Author'] == 'Sutton'
df_books.loc [filter]

,,Author,Title,Edition
Topic,Sub-Topic,,,
Machine Learning,RL,Sutton,Reinforcement Learning - An Introduction,2.0

NOTE:
- <font color = magenta><b>df [filter]</b></font> and <font color = magenta><b>df.loc [filter]</b></font> both return the <font color = red><b>same result</b></font>.
- But, **df.loc** provides <font color = magenta><b>selection of columns</b></font>

In [85]:
df_books [filter]

,,Author,Title,Edition
Topic,Sub-Topic,,,
Machine Learning,RL,Sutton,Reinforcement Learning - An Introduction,2.0

In [86]:
df_books.loc [filter, ['Edition', 'Author']]

                            Edition  Author
Topic            Sub-Topic
Machine Learning RL             2.0  Sutton

#### df.loc [<font color = magenta><b>series</b></font>] - return rows based on a <font color = magenta><b>series</b></font>

Create a series by applying a <font color = magenta><b>lambda on a column</b></font>

In [87]:
s_title_learning = df_books ['Title'\
                            ].apply (lambda x: x.endswith ('Learning'))
df_books.loc [s_title_learning, ['Edition', 'Title']]

                            Edition          Title
Topic            Sub-Topic
Machine Learning DL             1.0  Deep Learning

### using <font color = magenta><b>.iloc</b></font> - integer-location-based location

df.iloc [row_range, col_range]

NOTE: For both the parameters of .iloc (), <font color = magenta><b>we pass location indices</b></font>. Hence, .iloc is integer-location-based.

NOTE:
- a **single** row or column is returned as a <font color = magenta><b>series</b></font>
> have returned a dataframe by <font color = magenta>enclosing the index inside a <b>[]</b></font>
- **multiple** rows or columns are returned as a <font color = magenta><b>dataframe</b></font>

#### df.iloc [<font color = magenta><b>int_location</b></font>] returns a row as <font color = magenta><b>series</b></font>

In [88]:
df_books.iloc [0]

Author            Bengio
Title      Deep Learning
Edition                1
Name: (Machine Learning, DL), dtype: object

#### df.iloc [<font color = magenta><b>[int_location]</b></font>] returns a row as <font color = magenta><b>data frame</b></font>

In [89]:
df_books.iloc [[0]]

                            Author          Title  Edition
Topic            Sub-Topic
Machine Learning DL         Bengio  Deep Learning      1.0

#### df.iloc [<font color = magenta><b>row_range</b></font>] - returns multiple rows from the range

In [90]:
df_books.iloc [2:5]

                            Author                                     Title  \
Topic            Sub-Topic
Machine Learning ML         Bishop                               ML Advanced
                 RL         Sutton  Reinforcement Learning - An Introduction
Maths            LA         Strang            Introduction to Linear Algebra

                            Edition
Topic            Sub-Topic
Machine Learning ML             NaN
                 RL             2.0
Maths            LA             1.0

#### df.iloc [row_range<font color = magenta><b>, col_range</b></font>] - returns multiple rows and columns from the range

In [91]:
df_books.iloc [2:5, 1:3]

                                                               Title  Edition
Topic            Sub-Topic
Machine Learning ML                                      ML Advanced      NaN
                 RL         Reinforcement Learning - An Introduction      2.0
Maths            LA                   Introduction to Linear Algebra      1.0

#### df.iloc [row_range<font color = magenta><b>, [-1]</b></font>] - returns multiple rows from the range, and the <font color = magenta><b>last column</b></font>

In [92]:
df_books.iloc [2:5, [-1]]

                            Edition
Topic            Sub-Topic
Machine Learning ML             NaN
                 RL             2.0
Maths            LA             1.0

#### get the <font color = magenta><b>first row</b></font>

In [93]:
df_books.iloc [[0]]

                            Author          Title  Edition
Topic            Sub-Topic
Machine Learning DL         Bengio  Deep Learning      1.0

#### get the <font color = magenta><b>last row</b></font>

In [94]:
df_books.iloc [[-1]]

                     Author                        Title  Edition
Topic Sub-Topic
Maths Prob       Blitzstein  Introduction to Probability      NaN

## <font color = grey><b>9. Update</b></font>

### Data Creation

In [95]:
frame = {'Author': s_author, 'Title': s_title,\
         'Edition': s_edition}
df_books = pd.DataFrame (frame)
mux = pd.MultiIndex.from_arrays ([topic, sub_topic],\
                                 names = ['Topic', 'Sub-Topic'])
df_books = df_books.set_index (mux)
#to prevent
#"PerformanceWarning: indexing past lexsort depth may impact performance."
df_books.sort_index (inplace = True)
df_books

                                Author  \
Topic            Sub-Topic
Machine Learning DL             Bengio
                 ML             Witten
                 ML             Bishop
                 RL             Sutton
Maths            LA             Strang
                 Prob       Blitzstein

                                                               Title  Edition
Topic            Sub-Topic
Machine Learning DL                                    Deep Learning      1.0
                 ML                                      ML Beginner      2.0
                 ML                                      ML Advanced      NaN
                 RL         Reinforcement Learning - An Introduction      2.0
Maths            LA                   Introduction to Linear Algebra      1.0
                 Prob                    Introduction to Probability      NaN

#### Add a 'cost column

NOTE:
- A series can be added externally only if the <font color = magenta><b>index</b></font> of the series <font color = magenta><b>matches</b></font> that of the data frame
- This can be achieved by pd.Series (lst, <font color = magenta><b>index = </b></font>)

In [96]:
cost_indexed = [30, np.NaN, 40, 25, np.NaN, 20]
df_books ['Cost'] = pd.Series (cost_indexed, index = df_books.index)
df_books

                                Author  \
Topic            Sub-Topic
Machine Learning DL             Bengio
                 ML             Witten
                 ML             Bishop
                 RL             Sutton
Maths            LA             Strang
                 Prob       Blitzstein

                                                               Title  Edition  \
Topic            Sub-Topic
Machine Learning DL                                    Deep Learning      1.0
                 ML                                      ML Beginner      2.0
                 ML                                      ML Advanced      NaN
                 RL         Reinforcement Learning - An Introduction      2.0
Maths            LA                   Introduction to Linear Algebra      1.0
                 Prob                    Introduction to Probability      NaN

                            Cost
Topic            Sub-Topic
Machine Learning DL         30.0
                 ML          NaN
                 ML         40.0
                 RL         25.0
Maths            LA          NaN
                 Prob       20.0

### Using <font color = magenta><b>.loc</b></font>

In [97]:
df_books.loc [('Machine Learning', ['DL']), ['Title']]\
= 'Deep Reinforcement Learning'
df_books

                                Author  \
Topic            Sub-Topic
Machine Learning DL             Bengio
                 ML             Witten
                 ML             Bishop
                 RL             Sutton
Maths            LA             Strang
                 Prob       Blitzstein

                                                               Title  Edition  \
Topic            Sub-Topic
Machine Learning DL                      Deep Reinforcement Learning      1.0
                 ML                                      ML Beginner      2.0
                 ML                                      ML Advanced      NaN
                 RL         Reinforcement Learning - An Introduction      2.0
Maths            LA                   Introduction to Linear Algebra      1.0
                 Prob                    Introduction to Probability      NaN

                            Cost
Topic            Sub-Topic
Machine Learning DL         30.0
                 ML          NaN
                 ML         40.0
                 RL         25.0
Maths            LA          NaN
                 Prob       20.0

### <font color = magenta><b>fill missing values</b></font>

#### fill with a <font color = magenta><b>default</b></font> value

Note:
- df[col].<font color = magenta><b>fillna ()</b></font> updates a column (not inplace) and returns it as a <font color = magenta><b>series</b></font>. Pandas Philosophy: single row/column returned as series.
- The returned series is assigned to a dataframe column in the LHS

In [98]:
df_books ['Edition'] = df_books ['Edition'].fillna ('0.0')
df_books

                                Author  \
Topic            Sub-Topic
Machine Learning DL             Bengio
                 ML             Witten
                 ML             Bishop
                 RL             Sutton
Maths            LA             Strang
                 Prob       Blitzstein

                                                               Title Edition  \
Topic            Sub-Topic
Machine Learning DL                      Deep Reinforcement Learning       1
                 ML                                      ML Beginner       2
                 ML                                      ML Advanced     0.0
                 RL         Reinforcement Learning - An Introduction       2
Maths            LA                   Introduction to Linear Algebra       1
                 Prob                    Introduction to Probability     0.0

                            Cost
Topic            Sub-Topic
Machine Learning DL         30.0
                 ML          NaN
                 ML         40.0
                 RL         25.0
Maths            LA          NaN
                 Prob       20.0

#### fill with a <font color = magenta><b>stats</b></font> value

> <font color = magenta><b>groupby based on index</b></font> - <font color = magenta><b>level =</b></font> [l1, l2, ..]

In [99]:
df_books.groupby (level = [0])['Cost'].sum ()

Topic
Machine Learning    95.0
Maths               20.0
Name: Cost, dtype: float64

> <font color = magenta><b>median value</b></font> of the group

In [100]:
df_books.groupby (level = [0])['Cost'].transform ('median')

Topic             Sub-Topic
Machine Learning  DL           30.0
                  ML           30.0
                  ML           30.0
                  RL           30.0
Maths             LA           20.0
                  Prob         20.0
Name: Cost, dtype: float64

> missing values filled with median value of the group
NOTE:
- values updated for '<font color = magenta><b>ML Beginner</b></font>' and '<font color = magenta><b>Introduction to Linear Algebra</b></font>'

In [101]:
#series of median cost grouped by index level 0 ('Topic')
s_cost_median_by_group = df_books.groupby (level = [0])\
['Cost'].transform ('median')
#update the empty cells of 'Cost'
df_books ['Cost'].fillna (s_cost_median_by_group, inplace = True)
df_books

                                Author  \
Topic            Sub-Topic
Machine Learning DL             Bengio
                 ML             Witten
                 ML             Bishop
                 RL             Sutton
Maths            LA             Strang
                 Prob       Blitzstein

                                                               Title Edition  \
Topic            Sub-Topic
Machine Learning DL                      Deep Reinforcement Learning       1
                 ML                                      ML Beginner       2
                 ML                                      ML Advanced     0.0
                 RL         Reinforcement Learning - An Introduction       2
Maths            LA                   Introduction to Linear Algebra       1
                 Prob                    Introduction to Probability     0.0

                            Cost
Topic            Sub-Topic
Machine Learning DL         30.0
                 ML         30.0
                 ML         40.0
                 RL         25.0
Maths            LA         20.0
                 Prob       20.0

### Using <font color = magenta><b>columns</b></font>

In [102]:
df_books ['Description'] = df_books ['Title'] + ' - by - '\
+ df_books ['Author']
df_books

                                Author  \
Topic            Sub-Topic
Machine Learning DL             Bengio
                 ML             Witten
                 ML             Bishop
                 RL             Sutton
Maths            LA             Strang
                 Prob       Blitzstein

                                                               Title Edition  \
Topic            Sub-Topic
Machine Learning DL                      Deep Reinforcement Learning       1
                 ML                                      ML Beginner       2
                 ML                                      ML Advanced     0.0
                 RL         Reinforcement Learning - An Introduction       2
Maths            LA                   Introduction to Linear Algebra       1
                 Prob                    Introduction to Probability     0.0

                            Cost  \
Topic            Sub-Topic
Machine Learning DL         30.0
                 ML         30.0
                 ML         40.0
                 RL         25.0
Maths            LA         20.0
                 Prob       20.0

                                                                  Description
Topic            Sub-Topic
Machine Learning DL                 Deep Reinforcement Learning - by - Bengio
                 ML                                 ML Beginner - by - Witten
                 ML                                 ML Advanced - by - Bishop
                 RL         Reinforcement Learning - An Introduction - by ...
Maths            LA              Introduction to Linear Algebra - by - Strang
                 Prob           Introduction to Probability - by - Blitzstein

### <font color = magenta><b>binning</b></font> using <font color = magenta><b>pd.cut ()</b></font>

binning - **numeric to categorical**

In [103]:
cost_boundaries = [0, 11, 21, 31, 41, np.inf]
cost_range = ['Free', 'Cheap', 'Affordable', \
              'Costly', 'Exorbitant']
df_books ['Cost Range'] = pd.cut \
(df_books ['Cost'], cost_boundaries, labels = cost_range)
df_books

                                Author  \
Topic            Sub-Topic
Machine Learning DL             Bengio
                 ML             Witten
                 ML             Bishop
                 RL             Sutton
Maths            LA             Strang
                 Prob       Blitzstein

                                                               Title Edition  \
Topic            Sub-Topic
Machine Learning DL                      Deep Reinforcement Learning       1
                 ML                                      ML Beginner       2
                 ML                                      ML Advanced     0.0
                 RL         Reinforcement Learning - An Introduction       2
Maths            LA                   Introduction to Linear Algebra       1
                 Prob                    Introduction to Probability     0.0

                            Cost  \
Topic            Sub-Topic
Machine Learning DL         30.0
                 ML         30.0
                 ML         40.0
                 RL         25.0
Maths            LA         20.0
                 Prob       20.0

                                                                  Description  \
Topic            Sub-Topic
Machine Learning DL                 Deep Reinforcement Learning - by - Bengio
                 ML                                 ML Beginner - by - Witten
                 ML                                 ML Advanced - by - Bishop
                 RL         Reinforcement Learning - An Introduction - by ...
Maths            LA              Introduction to Linear Algebra - by - Strang
                 Prob           Introduction to Probability - by - Blitzstein

                            Cost Range
Topic            Sub-Topic
Machine Learning DL         Affordable
                 ML         Affordable
                 ML             Costly
                 RL         Affordable
Maths            LA              Cheap
                 Prob            Cheap